* {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: left;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.box{
  border: 1px solid black;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color:rgb(134, 94, 94);
  color:rgb(75, 58, 75);
  position:relative;
  overflow: hidden;
  display:block;
}
.scan{
  position:absolute;
 
  height:2px;
  background-image:linear-gradient(rgb(243, 228, 228),rgb(49, 44, 44));
  z-index:2;
  opacity:0;
  
  pointer-events: none;
  left:0px;
  right:0px;
  top:-4px;
  overflow: hidden;
  border-radius:2px;
}
.box:hover .scan{
  animation:cardScanner 2s ease forwards;

}

@keyframes cardScanner {
  0%{top:-4px;opacity:0}10%{opacity:1}90%{opacity:1}100%{top:100%;opacity:0}
}
.founders{
  list-style-type: none;
  padding: 20px;
  margin:20px;
  border-radius:20px;
  background-color: #e0e0e0;
  padding:40px;
}
h1{
  color:white;
}
.founder-item{
  padding:20px;
  
  border-radius:10px;
  margin:10px;
  background-color:rgb(237, 227, 185);
  cursor: pointer; 
}
.founder-item:hover{
  background-color:rgb(237, 227, 185);
  transform: scale(1.09);
  transition: transform 0.3s ease;
  border-right: 5px solid rgb(235, 198, 235);
}